body {
	background-size: 1920px 1080px;
	background-position: top;
    margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
h1,
h2,
p {
	margin: 0;
}
ul {
	list-style: none;
}
.container {
	width: 1318px;
	margin: 0 auto;
}
.header {
	top: 0;
	position: sticky;
	background-color: #e6dad9;
}
.header-placeholder {
    height: 107px; 
    background-color: #e6dad9;
}
.header .container {
	background-image: url('./img/bg-header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 75px;
	padding-right: 75px;
}
.nav {
	display: flex;
	align-items: baseline;
}
.header-logo {
	font-weight: 400px;
	font-size: 70px;
	line-height: 94px;
	font-family: 'Abril Fatface';
	padding-left: 45px;
	margin-right: 157px;
}
.h-list {
	display: flex;
	justify-content: center;
	gap: 35px;
}
.h-link {
	font-size: 30px;
	font-family: 'Abyssinica SIL';
}

/* about */
.about {
    background-color: #e6dad9;
    padding-bottom: 212px;
}
.about .container {
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
    height: 655px;
}
.right-side {
    background-image: url('./img/background.jpg');
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 42px;
    padding-left: 74px;
    padding-right: 74px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-title {
    font-weight: 400;
    font-size: 80px;
    font-family: 'Abril Fatface';
    margin-bottom: 51px;
}
.about-text {
    font-family: 'Abyssinica SIL';
    font-size: 25px;
    text-align: center;
}




