body {
	max-width: 100%;
	background-position: top;
	margin: 0;
	font-family: 'Abyssinica SIL';
}
a {
	text-decoration: none;
	color: black;
}
h1,
h2,
p {
	margin: 0;
}
h3 {
	font-family: 'Abril Fatface';
	font-size: 35px;
    font-weight: 400;
}
.titles-wrapper {
	display: flex; /* Располагаем элементы в строку */
	justify-content: space-between;
	padding-left: 78px;
	width: 930px;
}
ul {
	list-style: none;
}
.container {
	max-width: 1318px;
	margin: 0 auto;
}
.header {
	top: 0;
	position: sticky;
	background-color: #e6dad9;
	z-index: 20000;
}
.header-placeholder {
	height: 107px;
	background-color: #e6dad9;
}
.header .container {
	background-image: url('./img/bg-header.jpg');
    block-size: 1168px 655px;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 75px;
	padding-right: 75px;
}
.nav {
	display: flex;
	align-items: baseline;
}
.header-logo {
	font-weight: 400px;
	font-size: 70px;
	line-height: 94px;
	font-family: 'Abril Fatface';
	padding-left: 45px;
	margin-right: 157px;
}
.h-list {
	display: flex;
	justify-content: center;
	gap: 35px;
}
.h-link {
	font-size: 30px;
	font-family: 'Abyssinica SIL';
}

/* about */
.about {
	background-color: #e6dad9;
	padding-bottom: 212px;
}
.about .container {
	display: flex;
	padding-left: 75px;
	padding-right: 75px;
	height: 655px;
}
.right-side {
	background-image: url('./img/background.jpg');
	background-size: cover;
	padding-top: 55px;
	padding-bottom: 42px;
	padding-left: 74px;
	padding-right: 74px;
	display: flex;
	flex-direction: column;
}
.about-title {
	font-weight: 400;
	font-size: 80px;
	font-family: 'Abril Fatface';
	margin-bottom: 51px;
}
.about-text {
	font-family: 'Abyssinica SIL';
	font-size: 25px;
	text-align: left;
}

/*skills*/
.skills-title {
	font-weight: 400;
	font-size: 80px;
	font-family: 'Abril Fatface';
    margin-bottom: 50px;
	text-align: center;
}
.skills {
	background-image: url('./img/bg-header.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}
.skills .container {
	position: relative;
	padding-bottom: 300px;
	padding-right: 78px;
}
.skills-list {
    list-style: none;
    padding: 0;
}
.skills-list li {
	display: flex;
	align-items: center;
	margin-bottom: 23px;
	cursor: pointer;
}
.skills-list img {
	max-width: 100px;
	height: 72px;
	margin-right: 400px; 
	margin-left: 80px;
}
.info-container {
	display: flex;
	flex-direction: column; 
}
.info.show {
	display: block;
}

.info {
	font-family: 'Abyssinica SIL';
	font-size: 30px;
	position: absolute;
	left: 470px;
}
.info:not(:first-child) {
	top: 290px;
	display: none;
}

.second-info {
	font-family: 'Abyssinica SIL';
	font-size: 30px;
	position: absolute;
	left: 470px;
}
.second-info:not(:first-child) {
	display: none;
	top: 870px;
}

.third-info {
	font-family: 'Abyssinica SIL';
	font-size: 30px;
	position: absolute;
	left: 470px;
}
.third-info:not(:first-child) {
	display: none;
	top: 1470px;
}

.skills-soft {
	font-family: 'Abyssinica SIL';
	font-size: 25px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 700px;
	gap: 30px;
	margin-left: 150px;
}
.soft-skills,
.language {
	background-color: #e6dad9;
	padding-bottom: 80px;
}
.language .container {
	display: flex;
	flex-direction: column;
}

.rectangle {
	width: 800px; 
	height: 460px; 
	background-color: #e6dad9; 
	float: right; 
	margin-top: 10px;
}


/*education*/
.education {
	padding-bottom: 220px;
}
.edu-span {
	font-size: 25px;
	font-weight: 600;
}
.edu-text {
	font-size: 25px;
	display: block;
	width: 852px;
}
.education-item {
	display: flex;
	gap: 145px;
}
.education-list {
	padding-left: 92px;
	padding-right: 92px;
}
.education-item:not(:last-child) {
	margin-bottom: 136px;
}

/*certificates*/
.certificates {
	padding: 20px;
	font-family: 'Abyssinica SIL';
	font-size: 25px;
}
.certificates details {
	margin: 20px;
}
.certificates summary {
	cursor: pointer;
	padding: 20px;
	background-color: #b5b1b1;
	border-radius: 5px;
}

