/* general */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:focus,
:active{
    outline: none;
}
a:focus,
a:active{
    outline: none;
}
nav,
footer,
header,
aside{
    display: block;
}
html,
body{
    height: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea{
    font-family: inherit;
}
input::-ms-clear{
    display: none;
}
button{
    cursor: pointer;
}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
a{
    color: #000;
}
a,
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-size: inherit;
    font-weight: inherit;
}
body{
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-style: normal;
}
section{
    width: 100%;
    padding: 0px 75px;
}
.block{
    max-width: 1318px;
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.block__content{
    padding: 100px 75px;
}
.title{
    height: 106px;
    background: url('../assets/bg-header.jpg') no-repeat;
    background-size:cover;
    font-size: 80px;
    font-family: "Abril Fatface", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* background color */
:root {
    --bg-color-light: #ECE3E2;
    --bg-color-dark: #F0F0F0;
}

.light-bg {
    background-color: var(--bg-color-light);
}

.dark-bg {
    background-color: var(--bg-color-dark);
}


